PROMETHEUS_VERSION=v3.15.0
NODE_EXPORTER_VERSION=v1.12.1
CADVISOR_VERSION=v0.55.1
GRAFANA_VERSION=13.2.3
LOKI_VERSION=3.7.8
ALLOY_VERSION=v1.20.1

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=cambiar-por-una-clave-larga
