NPM_VERSION=2.16.0
CLOUDFLARED_VERSION=2026.9.3
WHOAMI_VERSION=v1.12.0

# Token del túnel: Cloudflare Zero Trust > Networks > Tunnels > crear túnel (cloudflared)
TUNNEL_TOKEN=eyJhIjoiM2RiMTEyODI0YmQ1M2JiODY3NjlmMzI5MjBhNTJkMzgiLCJ0IjoiMDI3OWVmNzAtOTIxMi00MzFmLTk4ZmItOTA1ODk3YmIwM2UwIiwicyI6IllqTTBOV0kzTkRFdE9ERXhaaTAwWWpabExXRmhZVEF0WXpJNU16VXhNamxsWVRRd09USmlNemswTVRNdFpqazVPUzAwWldReUxXRmpOV1l0TTJZd016SXdOV1U0T0RjMyJ9

# Perfiles opcionales separados por coma: tunnel (cloudflared), test (whoami)
COMPOSE_PROFILES=
